.footer {
  padding: 2rem 0;
  background-color: #101820;
  color: #fff;
  text-align: center;
}

.footer p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.footerLinks {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footerLinks li a {
  color: #f2aa4c;
}

@media (max-width: 768px) {
  .footerLinks {
    flex-direction: column;
  }
}

@media (max-width: 344px) {
  .footerLinks {
    flex-direction: column;
    gap: 1rem;
  }

  .footer p {
    font-size: 0.9rem;
  }
}